<h2 id="title">Welcome to Ember</h2>

<img src="assets/tomster-under-construction.png" alt="Tomster" class="tomster">

<img
  src={{fingerprinted-path (concat "assets/tomster-under-construction" extension)}}
  alt="Tomster concat"
  class="tomster"
>

{{outlet}}
